## Envfiles
*.db.env
*.service.env
*env.json

## Leinigen
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
client/resources/public/css/main.css

## Golang
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Terraform
*.tfvars
*.tfstate

## Emacs gitignore
.elc
auto-save-list
tramp
.\#*

## vim
#*.swp

# projectiles files
.projectile

